bin/
obj/
/packages/
/workspace.xml
/.idea/.idea.WseiScheduleWpf/.idea/.gitignore
/.idea/.gitignore
/.idea/.idea.WseiScheduleWpf/.idea/contentModel.xml
/.idea/.idea.WseiScheduleWpf/.idea/indexLayout.xml
/.idea/.idea.WseiScheduleWpf/.idea/modules.xml
/.idea/.idea.WseiScheduleWpf/.idea/projectSettingsUpdater.xml
/.idea/.idea.WseiScheduleWpf/riderModule.iml
/.idea/.idea.WseiScheduleWpf/.idea/vcs.xml
